includeConfig 'config/general.config'

profiles {
    standard {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
        includeConfig 'config/docker.config'
    }

    singularity {
        process.executor = 'local'
        singularity.enabled = true
        singularity.autoMounts = true
        includeConfig 'config/singularity.config'
    }

    podman {
        process.executor = 'local'
        podman.enabled = true
        podman.fixOwnership = true
        podman.temp = 'auto'
        includeConfig 'config/podman.config'
    }
    
    apptainer {
        process.executor = 'local'
        apptainer.enabled = true
        apptainer.autoMounts = true
        includeConfig 'config/apptainer.config'
    }
    
    wave {
        includeConfig 'config/wave.config'
        strategy = 'container,dockerfile'
    }
    awsbatch {
        process.executor = 'awsbatch'
        includeConfig 'config/awsbatch.config'
    }
}

report {
    enabled = true
    file = "report.html"
    overwrite = true
}
