aws.region = 'us-east-1'
aws.client.storageEncryption = 'AES256'
executor.name = 'awsbatch'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'



process {
    queue = { task.attempt > 1 ? 'batch_excess' : 'batch_main' }
	memory = { task.attempt > 1 ? 125000.MB : 30000.MB }
	cpus = { task.attempt > 1 ? 32 : 8 }
	errorStrategy = { task.attempt <= 3 ? 'retry' : 'finish' }

}
