params {
  // parameters
  help = false
  threads = 16
  memory = 20.GB
  // inputs
  reads_R1 = null
  reads_R2 = null
  rRNAs = null
  org_name = null
  clade = null
  annotation = null
  genome = null
  liftover = null
  noncoding = null
  mir = null
  sno = null
  known_lncRNAs_FA = null
  rel_sp_name = null
  distance = null
  annotation_related_species = null
  genome_related_species = null
  rel_liftover = null
  rel_noncoding = null
  rel_mir = null
  rel_sno = null
  design = null
  objective_task = "report"
}
